.home {
  background-image: $main-bg;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.about {
  //
}

.services {
  background-color: $services-bg;
}

.contact {
  background-color: $contact-bg;
  color: white;
}

